@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <h1>Blood Management System</h1>
    <p class="lead">Save lives donate blood!</p>
</div>
<body background="https://wallpapercave.com/wp/wp4323461.png">
</body>
<div class="row">
    <div class="col-md-4">
        <h2>About us</h2>
        <p>
            <strong>Mission:</strong> Blood Donation Is Not Just About Giving Blood, But It is An Act Of Kindness That Saves The Lives Of Hundreds Of People.
        </p>
        <br />
        <p>
            <strong>Vision:</strong> To pave way for a safer and better tomorrow. Safer, by bringing blood donors and those in need to a common platform.
        </p>

    </div>

</div>